* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
ol,
p,
blockquote {
    margin: 0;
}

.league-spartan {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.league-spartan-regular {
    font-weight: 400;
}

.league-spartan-medium {
    font-weight: 500;
}

.league-spartan-bold {
    font-weight: 700;
}

cite {
    font-style: normal;
}
body {
    margin-inline: auto;
    max-width: 1440px;
    background-image: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: left top,right bottom;
}
section {
    max-width: 1110px;
    /* background-color: blue; */
    /* border: 1px solid black; */
    margin-right: auto;
    margin-left: auto;
    min-height: 800px;
    padding-top: 118px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

section>div {
    /* border: 1px solid rgb(212, 24, 24); */
    display: flex;
    flex-direction: row;
    column-gap: 125px;
}

section>div div:first-child {
    max-width: 445px;
}

h2 {
    /* width: 445px;
height: 154px; */
    font-size: 56px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #512051;
    margin-bottom: 16px;
}

h2+p {
    /* width: 445px; */
    /* height: 75px; */
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.6px;
    color: #927B91;
}

section>div div:last-child {
    max-width: 540px;
    width: 100%;
}

.rate {
    /* background-color: yellow; */
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
}

.rate p {
    width: 445px;
    height: 56px;
    background: #F7F2F7;
    border-radius: 8px;
    /* margin-bottom: 16px; */
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
}

.rate p span {
    font-size: 17px;
    line-height: 16px;
    color: #512051;
}

.rate p:nth-child(1) {
    /* background-color: red; */
    align-self: start;
}

.rate p:nth-child(2) {
    /* background-color: rgb(8, 199, 56); */
    align-self: center;
}

.rate p:nth-child(3) {
    /* background-color: rgb(95, 6, 238); */
    align-self: end;
}

.reviews {
    /* background-color: rgb(8, 199, 56); */
    min-height: 266px;
    column-gap: 30px;
}

blockquote {
    max-width: 350px;
    width: 100%;
    /* w100p */
    height: 234px;
    background: #512051;
    border-radius: 8px;
    /* padding: 40px 32px 35px 32px; */
    /* padding: 40px 32px 35px; */
    padding-inline: 32px;
    padding-block: 40px 35px;

}

blockquote:nth-child(1) {
    align-self: start;
}

blockquote:nth-child(2) {
    align-self: center;
}

blockquote:nth-child(3) {
    align-self: end;
}

cite {
    display: flex;
    column-gap: 23px;
    margin-bottom: 30px;
}

cite img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

cite div {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: center;
}

cite div span:first-child {
    font-size: 17px;
    line-height: 16px;
    color: #FFFFFF;

}

cite div span:last-child {
    font-size: 17px;
    line-height: 16px;
    color: #EE69A4;
}

q {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}